body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #009bff;
}

.btn {
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#voice-search {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    text-align: right;
}

.search-container button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.search-container button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
