body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    direction: rtl; /* تعيين الاتجاه من اليمين إلى اليسار */
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white; /* خلفية بيضاء للوعاء */
    border-radius: 10px; /* زوايا مستديرة */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #009bff;
}

h4 {
    margin: 0;
    color: #009bff; /* لون أزرق */
}

h6 {
    margin: 0;
    font-size: 14px; /* حجم خط أصغر */
}

.btn {
    font-size: 20px; /* زيادة حجم الخط */
    font-weight: bold; /* جعل النص عريض */
    padding: 12px; /* زيادة الحشوة */
    border-radius: 10px;
    transition: background-color 0.3s; /* تأثير انتقال عند تغيير الخلفية */
}

.search-container {
    text-align: center;
    margin-top: 20px;
}

#voice-search {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    text-align: right; /* محاذاة النص إلى اليمين */
}

.search-container button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px; /* زوايا مستديرة للأزرار */
}

.search-container button:hover {
    background-color: #218838;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: red;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s; /* تأثير انتقال عند التحويم */
}

ul li:hover {
    transform: translateY(-2px); /* رفع العنصر عند التحويم */
}

.text-right {
    text-align: right; /* محاذاة النص إلى اليمين */
}

.text-start {
    text-align: left; /* محاذاة النص إلى اليسار */
}

.bg-light {
    background-color: #f8f9fa !important; /* خلفية فاتحة */
}

.shadow {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded {
    border-radius: 10px; /* زوايا مستديرة */
}

.btn-primary, .btn-secondary, .btn-danger, .btn-info {
    text-transform: uppercase; /* تحويل النص إلى أحرف كبيرة */
    letter-spacing: 1px; /* إضافة تباعد بين الحروف */
}