{% extends "layout.html" %}

{% block content %}
<h2 class="text-center my-4 text-warning">تعديل أو حذف بيانات المشروع</h2>

<div class="container">
    {% if projects %}
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>التسلسل</th>
                <th>المحافظة</th>
                <th>المشروع</th>
                <th>الكلفة الكلية</th>
                <th>الإجراءات</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project[1] }}</td>
                <td>{{ project[2] }}</td>
                <td>{{ project[3] }}</td>
                <td>{{ project[6] }}</td>
                <td>
                    <a href="{{ url_for('update_project', project_name=project[3]) }}" class="btn btn-primary btn-sm">تعديل</a>
                    <a href="{{ url_for('delete_project', project_name=project[3]) }}" class="btn btn-danger btn-sm">حذف</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center text-danger">لا توجد مشاريع مسجلة.</p>
    {% endif %}
</div>
{% endblock %}
